.emoji-mart {
  background-color: #f5f5f5; /* 배경 색상 변경 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.emoji-mart-category-bar {
  background-color: #007bff; /* 카테고리 바 배경 색상 변경 */
}

.emoji-mart-search input {
  border: 1px solid #007bff; /* 검색 입력 필드 테두리 색상 변경 */
}

.emoji-mart-emoji {
  border-radius: 50%; /* 이모티콘을 둥글게 */
}

.emoji-mart-emoji:hover {
  background-color: #e0e0e0; /* 이모티콘 hover 시 배경 색상 변경 */
}

.em-emoji-picker {
  background-color: #f5f5f5; /* 배경 색상 변경 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
